@font-face {
  font-family: "iconfont"; /* Project id 3426947 */
  src: url('iconfont.woff2?t=1653447283714') format('woff2'),
       url('iconfont.woff?t=1653447283714') format('woff'),
       url('iconfont.ttf?t=1653447283714') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia1:before {
  content: "\e61d";
}

.icon-caidanzhankai:before {
  content: "\e67f";
}

.icon-caidanshouqi:before {
  content: "\e680";
}

.icon-gengduo:before {
  content: "\e681";
}

.icon-shangjiantou:before {
  content: "\e683";
}

.icon-shezhi:before {
  content: "\e684";
}

.icon-xiajiantou:before {
  content: "\e685";
}

.icon-yingyongguanli:before {
  content: "\e686";
}

.icon-youjiantou:before {
  content: "\e687";
}

.icon-zuojiantou:before {
  content: "\e688";
}

.icon-bianji:before {
  content: "\e605";
}

.icon-chexiao:before {
  content: "\e606";
}

.icon-bijiben:before {
  content: "\e607";
}

.icon-geren:before {
  content: "\e60b";
}

.icon-shangyibu:before {
  content: "\e615";
}

.icon-tianjia:before {
  content: "\e61b";
}

.icon-wenjian:before {
  content: "\e61c";
}

